*.suo
*.cache
*.csprojAssemblyReference
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
Gaming-Library/Gaming-Library/Form1.resx
Gaming-Library/Gaming-Library/bin/Debug/Gaming-Library.exe.config
Gaming-Library/Gaming-Library/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
Gaming-Library/Gaming-Library/bin/Debug/Syncfusion.Grid.Base.xml
Gaming-Library/Gaming-Library/bin/Debug/Syncfusion.Grid.Windows.xml
Gaming-Library/Gaming-Library/bin/Debug/Syncfusion.Shared.Base.xml
Gaming-Library/Gaming-Library/bin/Debug/Syncfusion.Shared.Windows.xml
Gaming-Library/Gaming-Library/bin/Debug/Syncfusion.SpellChecker.Base.xml
Gaming-Library/Gaming-Library/bin/Debug/Syncfusion.Tools.Base.xml
Gaming-Library/Gaming-Library/bin/Debug/Syncfusion.Tools.Windows.xml
Gaming-Library/Gaming-Library/bin/Debug/System.Buffers.xml
Gaming-Library/Gaming-Library/bin/Debug/System.Memory.xml
Gaming-Library/Gaming-Library/bin/Debug/System.Numerics.Vectors.xml
Gaming-Library/Gaming-Library/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
Gaming-Library/Gaming-Library/bin/Debug/System.Text.Encodings.Web.xml
Gaming-Library/Gaming-Library/bin/Debug/System.Text.Json.xml
Gaming-Library/Gaming-Library/bin/Debug/System.Threading.Tasks.Extensions.xml
Gaming-Library/Gaming-Library/bin/Debug/System.ValueTuple.xml
Gaming-Library/Gaming-Library/obj/Debug/Gaming_Library.Form1.resources
Gaming-Library/Gaming-Library/obj/Debug/Gaming_Library.Properties.Resources.resources
Gaming-Library/Gaming-Library/obj/Debug/Gaming-Library.csproj.CopyComplete
Gaming-Library/Gaming-Library/obj/Debug/Gaming-Library.csproj.FileListAbsolute.txt
Gaming-Library/packages/Syncfusion.Grid.Base.18.2.0.48/.signature.p7s
Gaming-Library/packages/Syncfusion.Grid.Base.18.2.0.48/Syncfusion.Grid.Base.18.2.0.48.nupkg
Gaming-Library/packages/Syncfusion.Grid.Base.18.2.0.48/lib/net20/Syncfusion.Grid.Base.xml
Gaming-Library/packages/Syncfusion.Grid.Base.18.2.0.48/lib/net35/Syncfusion.Grid.Base.xml
Gaming-Library/packages/Syncfusion.Grid.Base.18.2.0.48/lib/net40/Syncfusion.Grid.Base.xml
Gaming-Library/packages/Syncfusion.Grid.Base.18.2.0.48/lib/net45/Syncfusion.Grid.Base.xml
Gaming-Library/packages/Syncfusion.Grid.Base.18.2.0.48/lib/net451/Syncfusion.Grid.Base.xml
Gaming-Library/packages/Syncfusion.Grid.Base.18.2.0.48/lib/net46/Syncfusion.Grid.Base.xml
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/.signature.p7s
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/Syncfusion.Grid.Windows.18.2.0.48.nupkg
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/lib/net20/Syncfusion.Grid.Windows.xml
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/lib/net35/Syncfusion.Grid.Windows.xml
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/lib/net40/Syncfusion.Grid.Windows.xml
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/lib/net45/Syncfusion.Grid.Windows.xml
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/lib/net451/Syncfusion.Grid.Windows.xml
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/lib/net46/Syncfusion.Grid.Windows.xml
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/lib/netcoreapp3.1/Syncfusion.Grid.Windows.xml
Gaming-Library/packages/Syncfusion.Grid.Windows.18.2.0.48/lib/netcoreapp5.0/Syncfusion.Grid.Windows.xml
Gaming-Library/packages/Syncfusion.Licensing.18.2.0.48/.signature.p7s
Gaming-Library/packages/Syncfusion.Licensing.18.2.0.48/Syncfusion.Licensing.18.2.0.48.nupkg
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/.signature.p7s
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/Syncfusion.Shared.Base.18.2.0.48.nupkg
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/lib/net20/Syncfusion.Shared.Base.xml
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/lib/net35/Syncfusion.Shared.Base.xml
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/lib/net40/Syncfusion.Shared.Base.xml
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/lib/net45/Syncfusion.Shared.Base.xml
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/lib/net451/Syncfusion.Shared.Base.xml
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/lib/net46/Syncfusion.Shared.Base.xml
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/lib/netcoreapp3.1/Syncfusion.Shared.Base.xml
Gaming-Library/packages/Syncfusion.Shared.Base.18.2.0.48/lib/netcoreapp5.0/Syncfusion.Shared.Base.xml
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/.signature.p7s
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/Syncfusion.Shared.Windows.18.2.0.48.nupkg
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/lib/net20/Syncfusion.Shared.Windows.xml
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/lib/net35/Syncfusion.Shared.Windows.xml
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/lib/net40/Syncfusion.Shared.Windows.xml
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/lib/net45/Syncfusion.Shared.Windows.xml
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/lib/net451/Syncfusion.Shared.Windows.xml
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/lib/net46/Syncfusion.Shared.Windows.xml
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/lib/netcoreapp3.1/Syncfusion.Shared.Windows.xml
Gaming-Library/packages/Syncfusion.Shared.Windows.18.2.0.48/lib/netcoreapp5.0/Syncfusion.Shared.Windows.xml
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/.signature.p7s
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/Syncfusion.SpellChecker.Base.18.2.0.48.nupkg
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/lib/net35/Syncfusion.SpellChecker.Base.xml
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/lib/net40/Syncfusion.SpellChecker.Base.xml
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/lib/net45/Syncfusion.SpellChecker.Base.xml
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/lib/net451/Syncfusion.SpellChecker.Base.xml
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/lib/net46/Syncfusion.SpellChecker.Base.xml
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/lib/netcoreapp3.1/Syncfusion.SpellChecker.Base.xml
Gaming-Library/packages/Syncfusion.SpellChecker.Base.18.2.0.48/lib/netcoreapp5.0/Syncfusion.SpellChecker.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/.signature.p7s
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/Syncfusion.Tools.Base.18.2.0.48.nupkg
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/lib/net20/Syncfusion.Tools.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/lib/net35/Syncfusion.Tools.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/lib/net40/Syncfusion.Tools.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/lib/net45/Syncfusion.Tools.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/lib/net451/Syncfusion.Tools.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/lib/net46/Syncfusion.Tools.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/lib/netcoreapp3.1/Syncfusion.Tools.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Base.18.2.0.48/lib/netcoreapp5.0/Syncfusion.Tools.Base.xml
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/.signature.p7s
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/Syncfusion.Tools.Windows.18.2.0.48.nupkg
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/lib/net20/Syncfusion.Tools.Windows.xml
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/lib/net35/Syncfusion.Tools.Windows.xml
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/lib/net40/Syncfusion.Tools.Windows.xml
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/lib/net45/Syncfusion.Tools.Windows.xml
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/lib/net451/Syncfusion.Tools.Windows.xml
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/lib/net46/Syncfusion.Tools.Windows.xml
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/lib/netcoreapp3.1/Syncfusion.Tools.Windows.xml
Gaming-Library/packages/Syncfusion.Tools.Windows.18.2.0.48/lib/netcoreapp5.0/Syncfusion.Tools.Windows.xml
Gaming-Library/Gaming-Library/bin/Debug/ObjectListView.xml
Gaming-Library/packages/ObjectListView.Official.2.9.1/.signature.p7s
Gaming-Library/packages/ObjectListView.Official.2.9.1/ObjectListView.Official.2.9.1.nupkg
Gaming-Library/packages/ObjectListView.Official.2.9.1/lib/net20/ObjectListView.XML

Gaming-Library/.vs/Gaming-Library/v16/Server/sqlite3/db.lock
Gaming-Library/.vs/Gaming-Library/v16/Server/sqlite3/storage.ide
